#home-logo{
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #ffffff 50%, #dadada 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}